body {
	background: linear-gradient(-45deg, #ff9a9e, #fad0c4, #fad0c4, #ffd1ff);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	font-family: 'Roboto', sans-serif;
	color: #333;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

@keyframes gradient {
	0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}

header {
	text-align: center;
	margin-bottom: 20px;
}

header h1 {
	font-size: 3em;
	color: #fff;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

a {
    color: #ff5722;
    text-decoration: none;
    transition: color 1s ease;
	padding: 5px 10px;
	font-size: 1.2em;
}

a:hover {
	font-size: 1.25em;
    color: #e23333;
    text-decoration: underline;
	text-decoration: none;
}

.image-container {
	margin-bottom: 20px;
	text-align: center;
}

.responsive-img {
	width: 100%;
	max-width: 200px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video-container {
	margin-bottom: 20px;
}

.video-container video {
	width: 100%;
	max-width: 600px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
	background: rgba(255, 255, 255, 0.8);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: center;
}

input[type="text"] {
	width: calc(100% - 22px);
	padding: 10px;
	margin-bottom: 10px;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 1em;
}

button {
	padding: 15px 30px;
	font-size: 1.2em;
	color: #fff;
	background-color: #ff5722;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: #e64a19;
}

footer {
	margin-top: 20px;
	color: #fff;
}

.icon {
	margin-top: 20px;
	font-size: 2em;
	color: #ff5722;
}

.upload-container {
	background: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: center;
}

input[type="file"] {
	display: none;
}

label {
	display: inline-block;
	padding: 10px 20px;
	font-size: 1em;
	color: #fff;
	background-color: #007bff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

label:hover {
	background-color: #0056b3;
}

.image-preview {
	max-width: 100%;
	max-height: 300px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#imagePreviewContainer img {
	margin-bottom: 10px;
}
